h4 {
  font-size: 25px;
}

h5 {
  font-size: 15px;
}

.custom-margin {
  margin-bottom: 100px;
  margin-top: 50px;
}

.custom-tagline h3 {
  font-size: 30px;
}

.custom-tagline h5 {
  font-size: 20px;
}

.devider img {
  width: 100px;
}

.card {
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100px;
  height: 120px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.card-image img {
  margin-top: 20px;
}

.card-content {
  margin: auto;
  display: flex;
  justify-content: center;
  color: black;
}

/* club details */
.clubDetails .box {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
}

.box-content {
  margin-top: -30px;
  padding: 10px;
}

.box-content p {
  text-align: center;
}

.clubDetails .badge {
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.card-image-detail {
  width: 200px;
  height: 220px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.club-detail {
  padding: 20px;
}

.club-detail span {
  color: #1976d2;
}

.custom-table {
  margin-top: 20px;
}

.custom-table thead {
  background-color: #3f51b5;
  color: white;
}

/* view on dekstop up */
@media (min-width: 992px) {
  .custom-nav {
    display: none;
  }

  .custom-tagline h3 {
    font-size: 40px;
  }

  .custom-tagline h5 {
    font-size: 25px;
  }

  .custom-h4 h4 {
    font-size: 35px;
  }

  .custom-h5 h5 {
    font-size: 20px;
  }

  .card-image {
    width: 100px;
    height: 120px;
  }

  .card-image img {
    margin-top: 20px;
  }

  .custom-about img {
    margin-top: 20px;
  }
}
